<% provide(:title, " | Upload") %>
<h1>Here to Upload Your Accelerometer Data!</h1>

<h2>Import Data</h2>
<br>
<div class="container">
	<%= form_tag 'create', multipart: true do %>
	  <%= text_field_tag :file %>
	  <div style="display:inline-block;vertical-align:top">
	  <%= submit_tag "Import", class: 'btn btn-primary' %>
	  </div>
	<% end %>
</div>
